@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    *::-webkit-scrollbar{
        width: 0.5rem;
        height: 0.5rem;
    }

    *::-webkit-scrollbar-track{
        background: #f6f6f6;
    }

    *::-webkit-scrollbar-thumb{
        background: #888;
        border-radius: 0.5rem;
    }
}